*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

ul{
  list-style-type: none;
  font-size: 22px;
  text-align: center;
  color: grey;
}

header{
  margin: auto;
  margin-top: 50px;
  width: 80%;
  height: 100px;
  display: flex;
}

header > div{
  width: 10%;
  height: 100%;
  line-height: 100px;
  position: relative;
}

.tendina{
  display: none;
  position: absolute;
  transform: rotateX(-50%);
  padding: 10px 30px;
  box-shadow: 0 5px 10px blue;
}

.tendina.active{
  display: flex;
}

header div p{
  font-size: 22px;
  text-align: center;
  color: grey;
}

header div:hover p{
  font-size: 24px;
  color: black;
  cursor: pointer;
}

.logo{
  display: flex;
  align-items: center;
}

.logo img{
  width: 100%;
}

.fa-chevron-up{
  display: none;
}

.con-tendina:hover .fa-chevron-down{
  display: none;
}

.con-tendina:hover .fa-chevron-up{
  display: inline-block;
}

.app{
  text-align: center;
}

.app a{
  font-size: 22px;
  color: white;
  background-color: rgb(65, 92, 230);
  border-radius: 20px;
  padding: 10px;
}
